.logo {
    width: 112px;
    height: 48px;
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week7/logo-fixie.svg');
    text-indent: 101%;
    white-space: normal;
    overflow: hidden;
}